/* .about {
  display: block;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 50px;
  margin-bottom: 70px;
  background-color: rgb(245, 245, 245, 0.5);
  text-align: center;
  padding: 30px;
} */



  .about-background {
    background-color: rgb(245, 245, 245, 0.85);
    margin-top: 50px;
    margin-bottom: 50px;
  }