.brick {
    background: url("/Users/mattbennett/Desktop/git-commit-code/client/src/pages/About/whitebrick.jpg");
    min-height: 1200px;
  }

  .rdt_Table {
    background: blue;
    justify-content: center;
  }