.background {
  height: 100vh;
  background: lightblue url("./background.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: center fixed;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}

.welcome {
  background-color: rgb(245, 245, 245, 0.85);
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 80px;
}

.head {
  position: relative;
  text-align: center;
  top: 20px;
}

.content {
  background-color: rgb(245, 245, 245, 0.5);
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  position: relative;
  text-align: center;
  top: 40px;
}

.btn {
  margin: auto;
  width: 200px;
  position: relative;
  top: 80px;
}
