.contain {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 400px;
  height: auto;
  background-color: rgb(245, 245, 245, 0.85);
  display: block;
  margin-left: auto;
  margin-right: 200px;
  text-align: center;
}
.signup {
  width: 400px;
  height: auto;
  background-color: rgb(245, 245, 245, 0.85);

  display: block;
  margin-left: 200px;
  margin-right: auto;
  margin-top: 150px;
  text-align: center;
}

form {
  padding: 50px;
}

.title {
  padding-top: 30px;
}

.signinBtn {
  position: static;
}
