.brick_background {
  background: url("whitebrick.jpg");
  min-height: 2000px;
  min-width: 1500px;
}

.chart {
  background-color: rgb(245, 245, 245, 0.85);
  margin-top: 50px;
  margin-bottom: 50px;
}
.login {
  background-color: rgb(245, 245, 245, 0.85);
  margin-top: 50px;
  margin-bottom: 50px;
}

form {
  padding: 50px;
}

.title {
  padding-top: 30px;
}

.signinBtn {
  position: static;
}
